<%if session[:admin_logado] != nil && session[:admin_logado] != [] then%>
			<div id="main-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">
							<!-- Content -->
								<article class="box post">
									<a href="#" class="image featured"><img src="/pic01.jpg" alt="" /></a>
									<header>
										<h2>Cadastre um novo bar</h2>
										</header>
											<form id="myform" action="/bares_cadastro" method="post" >
												Nome: <input type="text" name="nome"/>
												Descrição: <textarea rows="2" name="descricao"></textarea>
												Endereço: <input type="text" name="endereco"/>
												Telefone: <input type="text" name="telefone" placeholder="(DDD)0000-0000" onKeyPress="MascaraTelefone(this);" maxlength="14" />
												E-mail: <input type="text" name="email"/>
												Dias de funcionamento: <input type="text" name="diasfunc"/>
												Horário de funcionamento: <input type="number" name="hinicio" min="0" max="23" size="2" maxlength="2" onkeypress='return SomenteNumero(event)'>h às <input type="number" name="hfim" min="0" max="23" size="2" maxlength="2" onkeypress='return SomenteNumero(event)'>h <br />
												Foto: <input type="file" name="imagem"><br/>
												<input type="submit" value="Cadastrar" />
											</form>
									</article>
						</div>
					</div>
				</div>
			</div>
<%end%>