<h1>Cadastre aqui um novo bar</h1>

<form action="/bares_cadastro" method="post" >
	Nome: <input type="text" name="nome"/>
	Descrição: <input type="text" name="descricao"/>
	Endereço: <input type="text" name="endereco"/>
	Telefone: <input type="text" name="telefone"/>
	E-mail: <input type="text" name="email"/>
	Dias de funcionamento: <input type="text" name="diasfunc"/>
	
	<input type="submit" value="Cadastrar" />
</form>