
<!-- Main -->
<%# coding: UTF-8 %>
			<div id="main-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">
							
							<!-- Portfolio -->
								<section>
									<header class="major">
										<h2>Pubs e Bares</h2>
									</header>
									<% i = 0 %>
										<div class="row">
										<% @bares.each do |bar| %>
											<div class="4u">
												<section class="box">
													<a href="#" class="image featured"><img src="/pic02.jpg" alt="" /></a>
													<header>
														<h3><%= bar.Nome.capitalize %></h3>
													</header>
													<p><%= bar.Descricao.capitalize %></p>
													<footer>
														<a href="#" class="button alt">Leia mais...</a>
													</footer>
												</section>
											</div>
										<% i += 1 %>
										<% if i >= 5 then break end %>
										<% end %>
									    </div>
								</section>

						</div>
					</div>
					<div class="row">
						<div class="12u">

							<!-- Blog -->
								<section>
									<header class="major">
										<h2>Eventos</h2>
									</header>
									<div class="row">
										<div class="6u">
											<section class="box">
												<a href="#" class="image featured"><img src="/pic08.jpg" alt="" /></a>
												<header>
													<h3>evento 1</h3>
													<p>Posted 45 minutes ago</p>
												</header>
												<p>texto do evento 1.</p>
												<footer>
													<ul class="actions">
														<li><a href="#" class="button icon fa-file-text">Continue lendo</a></li>
														<!--<li><a href="#" class="button alt icon fa-comment">33 comments</a></li>-->
													</ul>
												</footer>
											</section>
										</div>
										<div class="6u">
											<section class="box">
												<a href="#" class="image featured"><img src="/pic09.jpg" alt="" /></a>
												<header>
													<h3>Evento 2</h3>
													<p>Posted 45 minutes ago</p>
												</header>
												<p>texto do evento 2.</p>
												<footer>
													<ul class="actions">
														<li><a href="#" class="button icon fa-file-text">Continue lendo</a></li>
														<!--<li><a href="#" class="button alt icon fa-comment">33 comments</a></li>-->
													</ul>
												</footer>
											</section>
										</div>
									</div>
								</section>
							
						</div>
					</div>
				</div>
			</div>