<html>
<head>
	<META Http-Equiv="Cache-Control" Content="no-cache"/> 
	<META Http-Equiv="Pragma" Content="no-cache"/> 
	<META Http-Equiv="Expires" Content="0"/>
	<title>Minha Lojinha: A lojinha que é minha</title>
</head>
<body>
<div>
	<a href="/">Início</a>
	<a href="/bares_lista">Bares</a>
	<a href="/bares_cadastro">Cadastro de bares</a>
	<a href="/sobre">Sobre</a>
		<%if session[:admin_logado] != nil && session[:admin_logado] != [] || session[:cliente_logado] != nil && session[:cliente_logado] != []%>
		<a href="/logout">Logout</a>
	<%end%>
</div>
	<%= yield %>
</body>
</html>