<div id="main-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">
							<!-- Content -->
								<article class="box post">
									<a href="#" class="image featured"><img src="/pic01.jpg" alt="" /></a>
									<header>
										<h2>Administrador? Pode entrar!</h2>
										<p><%=@msg%></p>
										</header>
											<form id="myform" action="/autenticar" method="post" >
													Email: <br/><input type="text" name="email"/><br/>
													Senha: <br/><input type="password" name="senha"/><br/>
												<input type="submit" value="Entrar" />
											</form>
									</article>
						</div>
					</div>
				</div>
			</div>

